body {
    margin: 0;
    padding:0;
    font-family: poppins;
    background: linear-gradient(to right, #a9a9a9, #3a3c39,#564838, #b06363, #7fa77c);
    color: rgb(33, 29, 54);
}

.wrap {
    width: 100%;
    margin: 20px auto;
}

header {
    height: auto;
    padding: 20px;
    font-size: 15px;
    color: white ;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

p {
    margin-bottom: 5px;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.column {
    flex: 1;
    border: 2px solid #ffffff;
    border-radius: 10%;
    margin: 10px;
    padding: 30px;
    background-color: #ebdada;
}

.column:first-child {
    margin-left: 0.5;
    border-bottom: 50px solid #eeba30;
}

.column:nth-last-child(2) {
    border-bottom: 50px solid rgba(174,0,1);
}

.column:last-child {
    margin-left: 0;
    border-bottom: 50px solid #d3a625;
    text-align: center;
}

footer {
    text-align: center;
    color: aliceblue;
}

.gambar{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 3px solid gold;
}

.wrap2 {
    display: flex;
    justify-content: center;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.sosmed {
    border: 1px solid blue;
    border-radius: 7%;
    padding :5px;
    margin:10px;
    text-align: center;
    cursor: pointer;
}

.iconsin {
    color: rgb(115, 29, 132);
}

.iconsgit {
    color: #171515;
}

.iconsyou {
    color: red;
}

@media screen and (max-width:980px) {
    .columns .column {
        margin-bottom: 5px;
        flex-basis: 40%;
}
    .columns .column:last-child {
        flex-basis: 100%;
        margin: 0;
    }

    .column:nth-last-child(2){
        margin-right: 0;
    }
}

@media screen and (max-width:680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}

.column:last-child:hover {
    border-color: rgb(60, 31, 245);
    opacity: 0.8;
}

.column:first-child:hover {
    border-color: rgb(60, 31, 245);
    opacity: 0.8;
}

.column:nth-child(2):hover {
    border-color: rgb(60, 31, 245);
    opacity: 0.8;
}

.sosmed:hover {background-color: #ffd47f;}



